<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HireLanderAI {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
</head>
<body>

<nav>

</nav>

{% with flashed_messages = get_flashed_messages(with_categories=true) %}
{% if flashed_messages %}
<div class="flashed-messages">
    {% for category, message in flashed_messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<main>
    {% block content %}{% endblock %}
</main>

<footer>

</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>